@model IEnumerable<LibSoft_Models.BookDTO>


@{
    ViewData["Title"] = "BookIndex";
    
}

<h1>Books</h1>

<form asp-controller="Book" asp-action="BookIndex">
    <p>
        @Html.DropDownList("searchType",new List<SelectListItem>()
        {
            new SelectListItem(){Text = "Author", Value = "Author"},
            new SelectListItem(){Text = "Genre", Value = "Genre"}
        },"Search by"),
        <input type="text" name="SearchString"/>
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
    <th>
        @Html.DisplayNameFor(model => model.Title)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Author)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Genre)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Year)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.NumbersInStock)
    </th>
    </thead>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.Genre)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>@Html.DisplayFor(modelItem => item.NumbersInStock)</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                
            </td>
        </tr>
    }
    </tbody>
</table>